{% extends 'base_app/base/base.html' %}
{% load static %}
{% block content %}
  <div>
    <img class="float-start col-5 me-3 mt-4"
         src="{% static 'base_app/img/about.jpg' %}"
         alt="" />
    <h1 class="text-center mb-1">
      Warcraft III
    </h1>
    <p>
      Reign of Chaos is a computer game released by Blizzard Entertainment in 3 July 2002.[1] It is a real-time strategy computer game,[1] the second sequel to Warcraft: Orcs & Humans and the third game set in the Warcraft universe. As such, it is usually referred to as Warcraft III, often abbreviated to WC3 or WCIII. Warcraft III is also considered to be one of Canada's national sports (along with hockey and lacrosse), due to the high level of top WCIII gamers that come from Canada and due to the occasional televised broadcast of the game, especially in British Columbia. The demo that was once available on Blizzard's website is no more; although the demo can still be downloaded from available third parties such as the Internet Archive.[2]
      Details the second invasion of the Burning Legion and the origins of the Scourge, along with the fall of Lordaeron and the awakening of the night elves are the plot of the story.[3] In addition, the orcs leave the Eastern Kingdoms, and on their journey to Kalimdor, save the Darkspear trolls from destruction.[4] When they arrive, they also assist the tauren and officially form the Horde as a collective of these races.[3]
      The game proved to be one of the most anticipated and popular computer game releases ever, with 4.5 million units shipped to retail stores and over one million units sold within a month.[5] Warcraft III won many awards including "Game of the Year" from more than six different publications.[6]
      A demo version includes the tutorial and the prologue campaign.
      At BlizzCon 2013, J. Allen Brack said they have several people working on a side project to update the old Warcraft games for modern computers.[7] At BlizzCon 2018, the Classic Games team announced Warcraft III: Reforged, a full remaster of Reign of Chaos and its expansion, slated for release in 2019.
      One of the main innovations Warcraft III offers over the previous games in the series is the way the role of hero units has changed. Where before, heroes were merely very powerful variants of standard units, now they are unique, with their own special abilities that normal units do not have access to. For instance, heroes within the game can find or trade items to increase skills, defense, etc. With each kill of an enemy of a certain level the heroes gain experience points, eventually resulting in increased levels of their own, and new spell options (thus introducing role-playing game elements to the series).[8] Some heroes also can apply beneficial auras to allied units.
      Another new innovation is the addition of creeps, which are computer controlled characters the player fights even in multiplayer. They guard key areas or neutral buildings and are designed to act as a resource for the players to kill to provide experience points to a player's hero and to provide hero items. The idea is to force the player to be aggressive instead of "turtling up" (building up powerful defenses and rarely attacking).[9]
    </p>
  </div>
{% endblock content %}
